.login-container{
  max-width: 400px;
  margin: 60px auto 0;
  border: 1px solid black;
  border-radius:14px;
  padding:60px;
}


.login{
  color: white;
  background-color: darkred;
  width: 100%;
  margin-top: 10px;
}

.remember-me{
  border: 1px gray;
  padding-left: 20px;
}

.error{
  color: tomato;
  font-size: 12px;
  padding-top: 4px
}

.forgotPass{
  padding-left: 500px;

}
.signup{
  padding-left: 450px;

}

