<div ng-app="myApp" ng-controller="myController" class="container">
  <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="authenticate()">
    <div class="login-container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Username</label>
            <input type="email" minlength="4" id="username" formControlName="username" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

            <div *ngIf="submitted && f.username.errors" >
              <div *ngIf="f.username.errors.required" class="error">Username is required</div>
            </div>

          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" >
              <div *ngIf="f.password.errors.required" class="error">Password is required</div>
            </div>
          </div>
        </div>
        <!--<div>-->
          <!--<label class="custom-control custom-checkbox">-->
            <!--<input type="checkbox" class="form-check-input">-->
            <!--<span class="custom-control-indicator"></span>-->
            <!--<span class="custom-control-description small text-dark remember-me">Remember me on this computer</span>-->
          <!--</label>-->
        <!--</div>-->
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-success login">Login</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <!--<div class="col-md-12">-->
        <!--<div ng-show="showError" class="alert alert-danger">Wrong credentials!</div>-->
        <!--<div ng-show="showSuccess" class="alert alert-success">Login Successful!</div>-->
        <!--</div>-->
      </div>
    </div>
  </form>
  <div class="col-md-12">
    <div class="form-group">
      <button class="btn btn-success login" (click)="forgotPassword()">Forgot password</button>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
