<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-inverse navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="../../assets/Images/logobetter.jpg" id="logo" alt="lOGO">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li id="demo-2">
          <input type="search" placeholder="Search By Movie Name">
        </li> -->
        <li><a href="#">Movies</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Plays</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Monuments</a></li>
        <li><a href="#">International</a></li>
        <li><a href="#">Activities</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/login']">Log In</a></li>
        <li><a [routerLink]="['/signup']"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
        <li><a >
            <nav role='navigation'>
              <div id="menuToggle" >

                <!-- checkbox used as click so as to use the :checked selector on it. -->

                <span class="openbtn" (click)="openNav()">&#9776;</span> 

               

                <!-- menu that opens after clicking on hamburger -->
               
              </div>
            </nav>
          </a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#"><i class="fa fa-fw fa-home"></i>About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>