<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-inverse navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="../../assets/Images/logobetter.jpg" id="logo" alt="lOGO">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="demo-2">
          <input type="search" placeholder="Search">
        </li>
        <li><a href="#">Movies</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Plays</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Monuments</a></li>
        <li><a href="#">International</a></li>
        <li><a href="#">Activities</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/login']">Log In</a></li>
        <li><a [routerLink]="['/signup']"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
        <li><a href="#">
            <nav role='navigation'>
              <div id="menuToggle">

                <!-- checkbox used as click so as to use the :checked selector on it. -->

                <input type="checkbox" />

                <!-- actual hamburger bars -->
                <span></span>
                <span></span>
                <span></span>

                <!-- menu that opens after clicking on hamburger -->
                <ul id="menu">
                  <a href="#">
                    Sign In
                  </a><a href="#">
                    / Sign Up
                  </a> <br><br>
                  <a href="#">
                    Quick pay
                  </a> <br><br>

                  <a href="#">
                    Booking History
                  </a> <br><br>

                  <a href="#">
                    Book A Smile
                  </a> <br><br>

                  <a href="#">
                    About Us
                  </a> <br><br>

                  <a href="#">
                    Settings
                  </a> <br><br>

                </ul>
              </div>
            </nav>
          </a></li>
      </ul>
    </div>
  </div>
</nav>