<div class="container text-center">
  <h2>Movies</h2><br>
  <div class="row">

      <div class="col-sm-4 well">
          <h4>Trending searches</h4>
          <h4>Trending searches</h4>
          <h4>Trending searches</h4>
          <h4>Trending searches</h4>
          <h4>Trending searches</h4>
          <h4>Trending searches</h4>
      </div>
      <div class="col-sm-4">
          <img src="../../assets/Images/img101.jpg" class="img-responsive" style="width:100%"
              alt="Image">
          <span><i class="em em-heart"></i></span>
      </div>
      <div class="col-sm-4">
          <img src="../../assets/Images/img101.jpg" class="img-responsive" style="width:100%"
              alt="Image">
          <span><i class="em em-heart"></i></span>
      </div>


  </div>
  <div class="row">

      <div class="col-sm-4">
          <div class="well">
              <p>Some text..</p>
          </div>
          <div class="well">
              <p>Some text..</p>
          </div>
      </div>
      <div class="col-sm-4">
          <img src="../../assets/Images/img10.jpg" class="img-responsive" style="width:100%"
              alt="Image">
          <span><i class="em em-heart"></i></span>
      </div>
      <div class="col-sm-4">
          <img src="../../assets/Images/img101.jpg" class="img-responsive" style="width:100%"
              alt="Image">
          <span><i class="em em-heart"></i></span>
      </div>

  </div>
  <div class="row">

      <div class="col-sm-4">
          <div class="well">
              <p>Some text..</p>
          </div>
          <div class="well">
              <p>Some text..</p>
          </div>
      </div>
      <div class="col-sm-4">
          <img src="assets\Images\img101.jpg" class="img-responsive" style="width:100%"
              alt="Image">
          <span><i class="em em-heart"></i></span>
      </div>
      <div class="col-sm-4">
          <img src="assets/Images\img101.jpg" class="img-responsive" style="width:100%"
              alt="Image">
          <span><i class="em em-heart"></i></span>
      </div>

  </div>
</div>