<div class="container text-center">
    <h2>Movies</h2><br>
    <div *ngFor="let c of list">
        <div class="col-sm-4" (click)="movieClick(c.movieName)">
            <span><a>{{c.movieName}}</a></span>
            <img src="../../assets/Images/img101.jpg" class="img-responsive" style="width:100%" alt="Image">
            <span><i class="em em-heart"></i></span>
            <span>{{c.movieReleaseDate}}</span> |
            <span>{{c.movieLength}}</span> |
            <span>{{c.directorName}}</span> |
            <span>{{c.language}}</span> |
            <span>{{c.type}}</span> |
            <span>{{c.rating}}</span>
        </div>
    </div>