<div class="uppar">
  <div class="middle">
    <h3> <span class="label label-warning"> {{movie.movieName}}Trailer</span></h3>

    <iframe class="video" src="http://www.youtube.com/embed/jzQq-avJuBc">
    </iframe>
  </div>
  <div class="movie-details">
    <ul class="movie-meta">
      <li><strong>Rating:</strong>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span> {{movie.rating}}
      </li>
      <li><strong>Length:</strong> {{movie.movieLength}}</li>
      <li><strong>Language:</strong> {{movie.language}}</li>
      <li><strong>Directed By:</strong> {{movie.directorName}}</li>
      <li><strong>Premiere:</strong>{{movie.movieReleaseDate}}</li>
      <li><strong>Category:</strong> {{movie.movieType}}</li>
    </ul>
  </div>
</div>
<div class="movie-date-selection">
  <div class="date-picker">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="dateModel" ngbDatepicker #d="ngbDatepicker" [minDate]="minDate" [maxDate]="maxDate" >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <pre>Model: {{ dateModel | json}}</pre>

  <div *ngFor="let c of result" class="main">
    <div class="location">
      {{c.name}}
    </div>

    <div class="time" *ngFor="let ca of c.values;">
      <button type="button" value="{{ca._id}}" (click)="selectShowtime(ca._id,ca.theatreId,ca.showTime)" class="btn1 btn-outline-danger">{{ca.showTime}}</button>
    </div>
  </div>

  <button type="button" (click)="confirm()" class="btn btn-primary middle">Book Tickets</button>

</div>
