@import "./../../scss/variable.scss";
.login-container{
  max-width: 400px;
  margin: 60px auto 0;
}

.signup{
  color: white;
  background-color: $button-background-color;
  width: 100%;
  margin-top: 10px;
}

.remember-me{
  border: 1px gray;
  padding-left: 20px;
}

.error{
  color: tomato;
  font-size: 12px;
  padding-top: 4px
}

