
.carousel-inner img {
  /* width: 100%; */
  /* Set width to 100% */
  margin: auto;
  /* min-height: 200px; */
}
.item {
  background-color: rgb(16, 72, 98);
}

.img-responsive {
  border-radius: 20px;
}
