#left,
#right {
  height: 42px;
  width: 30px;
}

.img-responsive {
  border-radius: 20px;
}

.items{
  padding-left:190px;
  padding-right:180px;
  padding-top:10px;
  padding-bottom:10px;
 background-color: rgb(80,26,40);
}